body {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 245, 255);
}

button:hover {
    cursor: pointer;
}

.container {
    /* border: 1px solid skyblue; */
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 0.8em;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    /* margin: 10% 0; */
}

.sidebar {
    /* height: 100%; */
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    padding: 2em 2em 6em;
}

.sidebar .steps {
    display: flex;
    align-items: center;
}

.sidebar .steps button {
    background: none;
    border-style: none;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    padding: 5px 9px
}

.sidebar .steps .step-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    font-family: 'Ubuntu-Medium';
    color: white;
}

.sidebar .steps .step-text h4 {
    margin: 0;
    font-size: xx-small;
}

.sidebar .steps .step-text span {
    font-size: medium;
    opacity: 50%;
    font-family: 'Ubuntu-Regular';
    font-size: xx-small;
}

.form-container {
    /* width: 75%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3em;
}

.form-container button {
    align-self: flex-end;
    padding: 10px 18px;
    color: white;
    border: none;
    background-color: hsl(213, 96%, 18%);
    border-radius: 6px;
    font-size: 10px;
}

.form-content,
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group {
    row-gap: 0.3em;
    margin-bottom: 0.8em;
}

.your-info .end {
    align-self: flex-end;
}

.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 0.8em;
}

.plan-card {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    padding: 10px;
    /* flex-grow: 1; */
    border: 1px solid lightgray;
    /* border: 1px solid hsl(243, 100%, 62%); */
    border-radius: 6px;
    row-gap: 1.5em;
}

.plan-card:hover {
    border: 1px solid hsl(243, 100%, 62%);
    cursor: pointer;
}

.plan-card.active {
    border: 1px solid hsl(243, 100%, 62%);
    background-color: rgb(248, 249, 254);
}

#toggleMonthlyYearlyMonthlyYearly {}

.plan-info h4 {
    margin: 0;
    font-family: 'Ubuntu-Medium';
    color: hsl(213, 96%, 18%);
    font-size: small;
}

.plan-info span {
    font-family: 'Ubuntu-Regular';
    color: rgb(177, 175, 175);
    font-size: small;
}

.end {
    margin-bottom: 0;
    /* margin-top: 2em; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-family: 'Ubuntu-Regular';
    color: hsl(213, 96%, 18%);
    font-size: x-small;
}

.form-group input {
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 10px;
    padding: 8px;
    color: hsl(213, 96%, 18%)
}

.form-group input:hover {
    border: 1px solid hsl(243, 100%, 62%);
    cursor: pointer;
}

.title h1 {
    margin: 0;
    font-family: 'Ubuntu-Bold';
    color: hsl(213, 96%, 18%);
    font-size: large;
}

.title p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Ubuntu-Regular';
    color: rgb(177, 175, 175);
    font-size: x-small;
}

.label-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-msg {
    color: red;
    font-family: 'Ubuntu-Regular';
    font-size: xx-small;
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('./assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('./assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url('./assets/fonts/Ubuntu-Regular.ttf');
}

.yearly-price,
.extra-benefits {
    display: none;
}

.toggle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 249, 254);
    border-radius: 6px;
}

.toggle-container label {
    color: rgb(177, 175, 175);
}

/* .label-monthly {
    color: hsl(213, 96%, 18%);
}

.label-yearly {
    color: rgb(177, 175, 175);
} */

.toggle-container label.active {
    color: hsl(213, 96%, 18%);
}

#toggleMonthlyYearly {
    appearance: none;
    cursor: pointer;
    width: 28px;
    height: 16px;
    background-color: hsl(213, 96%, 18%);
    border-radius: 13px;
    position: relative;
}

#toggleMonthlyYearly::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 2px;
    left: 3px;
    background-color: white;
    transition: transform 0.2s;
}

#toggleMonthlyYearly:checked::before {
    transform: translateX(10px);
}

/* add-ons style */

.add-ons-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.8em;
}

.add-on-card {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.add-on-card:hover {
    border: 1px solid hsl(243, 100%, 62%);
}

.add-on-card.active {
    border: 1px solid hsl(243, 100%, 62%);
    background-color: rgb(239, 245, 255);
}

.add-on-info {
    display: flex;
    flex-direction: column;
    row-gap: 0.2em;
}

.add-on-info h4,
.add-on-info p {
    margin: 0;
}

.add-on-left {
    display: flex;
    flex-direction: row;
    column-gap: 0.8em;
}

/* .add-on-left input[type="checkbox"] {
    outline: 1px solid rgb(233, 233, 233);
} */

.add-on-info h4 {
    font-family: 'Ubuntu-Medium';
    color: hsl(213, 96%, 18%);
    font-size: small;
}

.add-on-info p {
    font-family: 'Ubuntu-Regular';
    color: rgb(177, 175, 175);
    font-size: 11px;
}

.add-on-price {
    font-family: 'Ubuntu-Regular';
    color: hsl(243, 100%, 62%);
    font-size: smaller;
}

.plan-breakdown {
    background-color: rgb(239, 245, 255);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 0.7em 1em;
}

.plan-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.plan-summary p {
    font-family: 'Ubuntu-Regular';
    font-size: small;
    color: rgb(177, 175, 175);
}

.plan-summary span {
    font-family: 'Ubuntu-Medium';
    color: hsl(243, 100%, 62%);
}

.selected-plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.selected-plan .plan-details {
    display: flex;
    flex-direction: column;
}

.selected-plan span,
.plan-details span {
    font-family: 'Ubuntu-Medium';
}



.submission-msg p {
    margin: 0;
    font-family: 'Ubuntu-Regular';
    font-size: x-small;
    text-align: center;
    color: rgb(177, 175, 175);
}

.submission-msg h1 {
    color: hsl(213, 96%, 18%);
    font-family: 'Ubuntu-Bold';
    font-size: larger;
}

.submission-msg img {
    height: 55px;
}

.additional-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu-Regular';
    color: rgb(177, 175, 175);
    font-size: smaller;
}

.additional-price {
    color: hsl(213, 96%, 18%) !important;
}

.plan-additionals {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plan-breakdown hr {
    width: 100%;
    opacity: 30%;
}

.submission-msg {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-plan,
.add-ons,
.summary,
.submission-msg {
    display: none;
}

.extra-benefits {
    font-family: 'Ubuntu-Regular';
    font-size: x-small;
    color: hsl(213, 96%, 18%) !important;
}

#plan-change-link {
    font-family: 'Ubuntu-Regular';
    color: rgb(177, 175, 175);
    text-decoration: underline;
}

#plan-change-link:hover {
    color: hsl(243, 100%, 62%);
    cursor: pointer;
}

/* .plan-type-lbl .monthly {
    color: hsl(213, 96%, 18%) !important;
}

.plan-type-lbl .yearly {
    color: rgb(177, 175, 175);
} */